@tailwind base;
@tailwind components;
@tailwind utilities;

/* .background-container {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
  url('./assets/images/products.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
} */

